<!DOCTYPE html>

<html>
	<head>
	    <meta charset="utf-8" />
	    <title>Geekerie</title>
    <link rel="stylesheet" href="/css/home.css">
    <script src="/js/tutu.js" type="text/javascript"></script>
	</head>

    <%- include('layout/header') -%>

    <body>

   	<% if (locals.name) { %>
    	<h3>Coucou <%= name %> </h3>
        <p> en mode noob </p>
    <% } %>

    <!-- vue /login -->
    <% if (locals.login) { %>
    	<%- include('layout/loginForm') -%>
    <% } %>


    <% if (locals.req) { %>
    	<p> tu viens de poster : 
    	en login:<%= req.body.nomLogin%>
    	en mdp : <%= req.body.nomPassword %> </p>
    <% } %>


    </body>
    <%- include('layout/footer') -%>
</html>